<div class=headhead><h1>Todo#<%=params[:id] %></h1></div>
       <div class=show>
        <ul style="list-style:none">
          <div class="showli">  <li>
                <input type="checkbox">
              <%=@todo.description%> <%=@todo.pomodoro_estimate%>
            </li> </div></ul>
       <div class=showops> <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
        <a class="delete" href="/todo/destroy/<%= @todo.id %>">Delete</a>
        <a href="/" class="simple-link">Go Back</a></div>
        <br>
        <div><p>desc.</p></div>
        </div>